page-maphistorial {
    ion-content{
        background: rgb(229, 227, 223);
        #map {
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 150ms ease-in;
          display: block;
          &.show-map{
            opacity: 1;
          }
        }
      }
}
