<!--
  Generated template for the MaphistorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title mode="ios" (click)="informacion()">
      <ion-icon name="ios-information-circle-outline"></ion-icon>
      Información Aquí
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>

  <img [src]="urlImagen()" #myImage/>

  <ion-fab no-padding no-margin right bottom>
    <ion-row no-padding no-margin>
      <ion-col col-auto no-padding no-margin>
        <button ion-fab mini no-padding no-margin large (click)="informacion()">
          <ion-icon name="ios-information-circle-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto no-padding no-margin *ngIf="buttonFabImagen">
        <button ion-fab mini no-padding no-margin large (click)="presentImage(myImage)">
          <ion-icon name="ios-image"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto no-padding no-margin *ngIf="audioDisponible">
        <button ion-fab mini no-padding no-margin large (click)="playAudio()" *ngIf="!reproduciendoAudio">
          <ion-icon name="ios-play"></ion-icon>
        </button>
        <button ion-fab mini no-padding no-margin large (click)="stopAudio()" *ngIf="reproduciendoAudio">
          <ion-icon name="ios-pause"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>