<!--
  Generated template for the HistorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-padding>
  <ion-navbar no-padding>
    <ion-item>
      <ion-label>Tipo de Evento</ion-label>
      <ion-select interface="popover" (ionChange)="listChange()" [(ngModel)]="tipo">
        <ion-option value="panico">Pánico</ion-option>
        <ion-option value="sospecha">Sospecha</ion-option>
      </ion-select>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-padding>
    <ion-list-header *ngIf="panico != null && panico.length > 0 && panico[0].tipo == 'panico'">
      <h1 style="font-weight: bold; color: black; text-align: center; height: 100%">Pánico</h1>
    </ion-list-header>
    <ion-list-header *ngIf="panico != null && panico.length > 0 && panico[0].tipo == 'sospecha'">
      <h1 style="font-weight: bold; color: black; text-align: center; height: 100%">Sospecha</h1>
    </ion-list-header>
    <ion-item *ngFor="let d of panico; let i=index" text-wrap (click)="enviarParametros(d)" [ngClass]="{active: isGroupShown(i)}">
      <h2> {{ d.usuarioInformante }}</h2>
      <h4> {{ d.fechaRecolecion }}</h4>
      <p> {{ d.mensaje }} </p>
      <ion-icon color="success" item-right [name]="isGroupShown(i) ? null : 'arrow-dropright'"></ion-icon>
      <!--<ion-item class="item-accordion item-text-wrap" *ngIf="isGroupShown(i)">
        <div class='parkmap' id='map{{d.id}}'></div>
      </ion-item>-->
    </ion-item>
  </ion-list>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tire para actualizar" refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>